.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 20vh 80vh;
  column-gap: 2.4rem;
  padding: 0 1.2rem;
}

.passvault {
  &-header {
    align-self: center;
    grid-column: 3 / 11;
  }

  &-aside {
    grid-column: 1 / 4;
  }

  &-main {
    grid-column: 4 / -1;
  }
}
