@mixin neumorp-shadow($depth, $inset: null) {
  @if depth-verify($depth) {
    @warn "Invalid $depth `#{$depth}` value.";
  } @else {
    box-shadow: bottom-shadow($depth, $inset), top-shadow($depth, $inset);
  }
}

// NOTE: 21/11 tobe remove
// @mixin neumorp-button($depth, $state) {
//   @if depth-verify($depth) {
//     @warn "Invalid $depth `#{$depth}` value.";
//   } @else {
//     box-shadow: neumorp-initial($depth);
//   }
// }

// NOTE: To be remove, but make it sure 1st that this is redundant
@mixin neumorp-keyframes($depth) {
  @keyframes buttonClicked {
    0%,
    100% {
      box-shadow: neumorp-initial($depth);
    }
    50% {
      box-shadow: neumorp-press($depth);
    }
  }
}

// @mixin neumorp-button(
//   $width,
//   $height,
//   $radius,
//   $depth,
//   $bg-color: $primary-bg-color
// ) {
//   width: $width;
//   height: $height;
//   border-radius: $radius;
//   border: 0;
//   background-color: $bg-color;
//   // TODO: remove the parameter
//   @if depth-verify($depth) {
//     @warn "Invalid $depth `#{$depth}` value.";
//   } @else {
//     box-shadow: neumorp-initial($depth);
//   }
// }
