// NOTE: btn-sm use on accountDetail.vue
.btn-sm {
  width: 36px;
  height: 36px;
  border: 0;
  margin: 0 10px;
  border-radius: 32%;
  border: 1px solid $color-primary-bg;
  background: $color-primary-bg;
  box-shadow: $bsd-small-btn;
  transition: all 400ms ease;
}

.btn-sm:hover {
  cursor: pointer;
}

.btn-sm.active {
  box-shadow: $bsd-inset-small-btn;
  transform: translateY(1px);
}

// NOTE: use in accountDetail buttons
.icons {
  color: $color-light-grey;
}

// .btn-lg {
//   width: 95px;
//   height: 37px;
//   border: 0;
//   margin: 0 10px;
//   border-radius: 10px;
//   background: $color-primary-bg;
//   font-weight: 700;
//   box-shadow: $bsd-primary-btn;
// }

// .btn-lg:hover {
//   cursor: pointer;
// }

// .btn-lg.active {
//   animation: inset-primary 300ms cubic-bezier(0.18, 0.89, 0.43, 1.19);
// }

// NOTE: Component or just it is
.seperator {
  width: 100%;
  height: 8px;
  border-radius: 50px;
  @include neumorp-shadow(2, inset);
}

.border-solid {
  border: 1px solid black;
}
