// Fonts
$josefin-sans: 'Josefin Sans', sans-serif;
$nunito-sans: 'Nunito Sans', sans-serif;

// Main colors
//Dark-grey
$primary-color: #546e7a;
//Light-grey
$secondary-color: #90a4ae;
//Purple
$tertiary-color: #9574cd;

// Alert colors
$danger-color: #dc3545;
$success-color: #2e9f36;
$info-color: #2f89ff;

// Background
$primary-bg-color: #e6eef8;

// Box-shadow
$top-shadow-color: #fff;
$bot-shadow-color: #a3b1c6;
