.heading-primary {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  &-main {
    font-size: 2rem;
    font-weight: 700;
  }
  &-sub {
    font-family: $nunito-sans;
    font-weight: 500;
  }
}

// TODO: change in AccountList heading
.secondary-heading {
  &-main {
    font-size: 1.8rem;
    font-weight: 700;
  }
  &-sub {
    display: block;
    font-family: $nunito-sans;
    font-weight: 500;
  }
}
